<md-toolbar class="md-table-toolbar md-default" ng-hide="selected.length || filter.show">
    <div class="md-toolbar-tools">
        <span>PO Activity {{records.data.length ? "- " + records.data.length + " records" : ""}} - 
            <small hide-xs style="background: #FFECB3;">Applied: {{lastQuery}}</small>
        </span>
        <span flex></span>
       <md-button class="md-icon-button" ng-click="loadStuff()" aria-label="Refresh">
            <md-icon>refresh</md-icon>
            <md-tooltip md-direction="bottom">
                Refresh
            </md-tooltip>
        </md-button>
        <md-button class="md-icon-button" ng-transclude ng-click="filter.show=true">
            <md-icon>filter_list</md-icon>
            <md-tooltip md-direction="bottom">
                Search Filter
            </md-tooltip>
        </md-button>
        <md-button class="md-icon-button" ng-click="showExportConfirm($event)" ng-if="!loading">
            <md-icon md-svg-src="public/svg/dripicons/export.svg" class="s24" aria-label="Show Export"></md-icon>
            <md-tooltip md-direction="bottom">
                Export to CSV
            </md-tooltip>
        </md-button>
        <md-button class="md-icon-button" ng-click="showMoreOptions($event)" aria-label="Advanced Search">
            <md-icon class="material-icons">search</md-icon>
            <md-tooltip md-direction="bottom">
                Advanced Search
            </md-tooltip>
        </md-button>
    </div>
</md-toolbar>
<md-toolbar class="md-table-toolbar sr-search" ng-show="filter.show && !selected.length">
    <div class="md-toolbar-tools">
        <md-icon class="material-icons">search</md-icon>
        <form flex="" name="filter.form">
            <input type="text" ng-model="filter.search" placeholder="search">
            <!-- ng-model-options="filter.options"  -->
        </form>
        <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="filter.show=false; filter.search=''" aria-label="close">
            <md-icon class="material-icons">close</md-icon>
            <div class="md-ripple-container"></div>
        </button>
    </div>
</md-toolbar>
<md-toolbar class="md-table-toolbar sr-selected" ng-show="options.rowSelection && selected.length">
    <div class="md-toolbar-tools">
        <span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="showOrderDetails($event, poDetails)">
            <md-icon md-svg-src="public/svg/dripicons/information.svg" class="s24" aria-label="Show Order Details"></md-icon>
            <md-tooltip md-direction="bottom">
                Order Details
            </md-tooltip>
        </md-button>
    </div>
</md-toolbar>
<div ng-if="loading" layout="row" layout-align="center center" class="loading">{{randMess}}</div>
<md-table-container>

    <table data-md-table data-md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" data-ng-model="selected" md-progress="promise" ng-if="!loading" class="table-fixed">
        <!-- <thead md-head md-order="query.order">
      <tr md-row>
        <th md-column ng-repeat="column in columns" md-numeric="column.numeric" md-order-by="{{column.orderBy}}">
          <span>{{column.name}}</span>
          <span ng-if="column.unit">({{column.unit}})</span>
        </th>
      </tr>
    </thead> -->
        <thead ng-if="!options.decapitate" md-head data-md-order="query.order" md-on-reorder="onReorder">
        <tr md-row>
            <th md-column md:order:by="warehouseCode"><span>Warehouse Code</span></th>
            <th md-column md:order:by="groupName"><span>Status</span></th>
            <th md-column><span>Date Time Stamp</span></th>
            <th md-column md:order:by="poNo"><span>PO No</span></th>
            <th md-column md:order:by="plateNo"><span>Plate No</span></th>
            <th md-column md:order:by="invoiceNo"><span>Invoice No</span></th>
            <th md-column md:order:by="requiredDeliveryDate"><span>Required Delivery Date</span></th>
            <th md-column md:order:by="billingDate"><span>Invoice Date</span></th>
            <th md-column md:order:by="soldTo" ><span>Customer Code</span></th>
            <th md-column md:order:by="customerName"><span>Customer Name</span></th>
            <th md-column md:order:by="soNo"><span>SO No</span></th>
            <th md-column md:order:by="doNo"><span>DO No</span></th>
            <th md-column md:order:by="orderDate"><span>Order Date</span></th>
            <th md-column md:order:by="orderType"><span>Order Type</span></th>

            <th md-column md:order:by="submittedToSAPDate"><span>CSS Processing Date Time</span></th>
            <th md-column md:order:by="loadPlanApprovalDateTime"><span>OSR Loadplan Date Time</span></th>
            <th md-column md:order:by="pickingDateTime"><span>OSR Picking Date Time</span></th>
            <th md-column md:order:by="consolidationDateTime"><span>OSR Consolidation Date Time</span></th>
            <th md-column md:order:by="loadingDateTime"><span>OSR Loading Date Time</span></th>

            <th md-column md:order:by="dateTimeTruckerArrived"><span>Trucker Arrived Date Time</span></th>
            <th md-column md:order:by="truckerArrivedSMSMessage"><span>Trucker Arrived SMS</span></th>
            <th md-column md:order:by="dateTimeTruckerDeparted"><span>Trucker Departed Date Time</span></th>
            <th md-column md:order:by="truckerDepartedSMSMessage"><span>Trucker Departed SMS</span></th>

            <th md-column md:order:by="shipTo"><span>Ship To</span></th>
            <th md-column md:order:by="shipToAddress"><span>Ship To Address</span></th>
            <th md-column md:order:by="shipToName"><span>Ship To Name</span></th>
            <th md-column md:order:by="truckAllocationNo"><span>Truck Allocation No</span></th>
        </tr>
        </thead>
        <tbody md-body>

            <!-- <tr md-row md-select="dessert" md-on-select="logItem" md-auto-select="options.autoSelect" ng-disabled="dessert.calories.value > 400" ng-repeat="dessert in desserts.data | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit"> -->


            <tr md-row md-select="d" md-select-id="poNo" data-md-on-select="log" md-on-deselect="deselect" x-md-auto-select="options.autoSelect" data-ng-repeat="d in records.data | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page - 1) * query.limit">
                
                <td md-cell>{{d.warehouseCode}}</td>
                <td md-cell>{{d.groupName}}</td>
                <td md-cell>{{d.groupName=='Invoiced - Delivered to Customer' ? getEarliestDate(d.dateTimeTruckerArrived,d.dateTimeTruckerDeparted,d.invoicingDateTime) : '' }}</td>
                <td md-cell>{{d.poNo}}</td>
                <td md-cell>{{d.plateNo}}</td>
                <td md-cell>{{d.invoiceNo}}</td>
                <td md-cell>{{d.requiredDeliveryDate==null ? '' : fdt(d.requiredDeliveryDate)}}</td>
                <td md-cell>{{d.billingDate==null ? '' : fdt(d.billingDate)}}</td>

                <td md-cell>{{d.soldTo}}</td>
                <td md-cell>{{d.customerName}}</td>
                <td md-cell>{{d.soNo}}</td>
                <td md-cell>{{d.doNo}}</td>
                <td md-cell>{{fdt(d.orderDate)}}</td>
                <td md-cell>{{d.orderType}}</td>

                <td md-cell>{{d.submittedToSAPDate==null ? '' : fdt(d.submittedToSAPDate)}}</td>
                <td md-cell>{{d.loadPlanApprovalDateTime==null ? '' : fdt(d.loadPlanApprovalDateTime)}}</td>
                <td md-cell>{{d.pickingDateTime==null ? '' : fdt(d.pickingDateTime)}}</td>
                <td md-cell>{{d.consolidationDateTime==null ? '' : fdt(d.consolidationDateTime)}}</td>
                <td md-cell>{{d.loadingDateTime==null ? '' : fdt(d.loadingDateTime)}}</td>

                <td md-cell>{{d.dateTimeTruckerArrived==null ? '' : fdt(d.dateTimeTruckerArrived)}}</td>
                <td md-cell>{{d.truckerArrivedSMSMessage}}</td>
                <td md-cell>{{d.dateTimeTruckerDeparted==null ? '' : fdt(d.dateTimeTruckerDeparted)}}</td>
                <td md-cell>{{d.truckerDepartedSMSMessage}}</td>

                <td md-cell>{{d.shipTo}}</td>
                <td md-cell>{{d.shipToAddress}}</td>
                <td md-cell>{{d.shipToName}}</td>
                <td md-cell>{{d.truckAllocationNo}}</td>
            </tr>
        </tbody>
    </table>
</md-table-container>
<md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{records.data.length}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
<!--<data-md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{records.count}}" md-on-paginate="onPaginate" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks"></data-md-table-pagination>-->
