<div class="col-md-12">
    <div class="panel panel-primary well">
        <div class="panel-body">
            <h2>What is GoGAM?</h2>
            <p>GoGam is stands for:</p>
            <ul>
                <li>Go (GoLang)</li>
                <li>G (Gin Gonic)</li>
                <li>A (AngularJS 1.x)</li>
                <li>M (MongoDB)</li>
            </ul>
            <p>This is a CRUD sample built with GoLang + Gin + Angular + MongoDB stack, this can be use for web application stack.</p>
            <p><img src="https://github.com/nenjotsu/GoGAM/blob/master/gam.png?raw=true?raw=true" alt="Alt text" title="GoLang + Angular + MongoDB"></p>
            <hr>
            <p>
                <button type="button" class="btn btn-primary btn-lg" ng-click="vm.editArticle()" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i> Add New</button>
            </p>
        </div>
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>ObjectId</th>
                    <th>Body</th>
                    <th>Created On</th>
                    <th>Title</th>
                    <th>Updated On</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="a in vm.articleList">
                    <td>
                        <button type="button" class="btn btn-inverted btn-primary" ng-click="vm.editArticle(a)" data-toggle="modal" data-target="#myModal">Edit</button>
                        <button type="button" class="btn btn-inverted btn-danger" ng-click="vm.deleteArticle(a)">Delete <i class="fa fa-trash"></i></button>
                        {{a._id}}</td>
                    <td>{{a.body}}</td>
                    <td>{{a.created_on | date: "MMM-dd-yyyy hh:mm a"}}</td>
                    <td>{{a.title}}</td>
                    <td>{{a.updated_on | date: "MMM-dd-yyyy hh:mm a"}}</td>
                </tr>
            </tbody>
        </table>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Edit Record Information</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            Title
                            <input type="text" class="form-control" ng-model="vm.curr.title">
                        </p>
                        <p>
                            Body
                            <input type="text" class="form-control" ng-model="vm.curr.body">
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-if="!vm.transaction" ng-click="vm.createArticle(vm.curr)">Create New</button>
                        <button type="button" class="btn btn-primary" ng-if="vm.transaction" ng-click="vm.saveArticle(vm.curr)">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
