<section layout="column" layout-align="start stretch" class="full-width" ng-controller="MainController as ul">
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="false" md-disable-backdrop md-whiteframe="4">
        <md-toolbar layout="row" class="md-theme-indigo gradient-toolbar">
            <h1 class="md-toolbar-tools">Menu</h1>
            <md-button id="chat" class="md-icon-button" ng-click="ul.toggleList()" aria-label="Close Menu">
                <md-icon md-svg-icon="close" class="md-icon-sm"></md-icon>
            </md-button>
        </md-toolbar>
        <md-list ng-click="ul.toggleList()">
            <md-list-item ng-repeat="it in ul.main" ng-if="hasAccess(it.url)">
                <!-- ui-sref="{{it.url}}"  -->
                <md-button class="menu-button" md-no-ink="true" ng-class="{'selected' : it === ul.selected }">
                    <md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>
                    <span ng-click="ul.selectMenu(it)">{{it.name}}</span>
                </md-button>
            </md-list-item>
            <md-list-item ng-controller="LoginController">
                <md-button ng-click="logout($event)">
                    <md-icon class="avatar"><i class="material-icons">exit_to_app</i></md-icon>
                    <span>Log Out</span>
                </md-button>
            </md-list-item>
        </md-list>
    </md-sidenav>
    <md-content layout="column">
        <!-- flex -->
        <div>
            <md-toolbar layout="row" class="md-whiteframe-z1 gradient-toolbar">
                <md-button id="main" class="menu" ng-click="ul.toggleList()" aria-label="Show Menu List">
                    <!-- hide-gt-sm  -->
                    <md-icon md-svg-icon="menu"></md-icon>
                </md-button>
                <h3 style="color: #fff !important;"><a href="#/main/home"><img src="assets/img/OSRLogoInvert.png" alt="" class="main-logo"></a>WEB OSR <span hide-xs> - Order Status Report</span></h3>
                <md-button id="userAccount" class="menu" ng-click="showAdvanced($event)" aria-label="User Account">
                    <!-- hide-gt-sm  -->
                    <md-icon md-svg-icon="user"></md-icon>
                </md-button>
            </md-toolbar>
            <md-content id="content">
                <div ui-view></div>
                <!-- <div class="lock-size">
                    <md-fab-trigger>
                        <md-button aria-label="menu" class="md-fab md-info" ng-click="toggleRight()" ng-hide="isOpenRight()" aria-label="Show Chat & Activity Stream">
                            <md-icon md-svg-src="assets/svg/dripicons/conversation.svg"></md-icon>
                        </md-button>
                    </md-fab-trigger>
                </div> -->
            </md-content>
        </div>
        <div flex></div>
    </md-content>
    <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
        <md-toolbar layout="row" class="md-theme-light gradient-toolbar">
            <md-button id="chat" class="md-icon-button" ng-click="toggleRight()">
                <md-icon md-svg-icon="close" class="md-icon-sm" aria-label="Close Chat & Activity Stream"></md-icon>
            </md-button>
        </md-toolbar>
        <!-- <md-content ng-controller="ChatController">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Chat">
                    <md-content layout="column" style="background: #e5e5e5;padding-bottom:35px;">
                        <section class="module" schroll-bottom="messages">
                            <ol class="discussion">
                                <li ng-repeat="m in messages" ng-class="{'self':m.User==userName,'other':m.User!==userName}">
                                    <div class="avatar">
                                        <img ng-src="{{m.PrimaryPic ? m.PrimaryPic : 'assets/img/avatar/no_pic.jpg' }}" />
                                    </div>
                                    <div class="messages">
                                        <p>{{m.Message}}</p>
                                        <time datetime="{{m.DateTime}}">{{m.User}}
                                            <br>
                                            <time-ago from-time='{{ m.DateTime }}'></time-ago>
                                        </time>
                                    </div>
                                </li>
                            </ol>
                        </section>
                    </md-content>
                    <div class="chat-input-message">
                        <md-input-container class="md-icon-float md-icon-right md-block">
                            <label>Chat Message</label>
                            <md-icon md-svg-src="assets/svg/dripicons/message.svg"></md-icon>
                            <input ng-model="chatMessage" type="text" ng-keypress="myFunct($event)">
                            <md-icon md-svg-src="assets/svg/dripicons/direction.svg" ng-click="sendMessage(chatMessage)"></md-icon>
                        </md-input-container>
                    </div>
                </md-tab>
                <md-tab label="Activity">
                    <md-content layout="column" style="background: #e5e5e5;">
                        <section class="module">
                            <ol class="discussion">
                                <li ng-repeat="a in activities" style="padding: 5px;">
                                    <div class="activity-stream" style="background: #{{a.color}};transition: all 1s ease-out;">
                                        <p><strong>{{a.EventName}}</strong></p>
                                        <p>{{a.EventDescription}}</p>
                                        <time datetime="{{a.DateTimeStamp}}">{{a.UserName ? 'by ' + a.UserName + ' ' : ''}}
                                            <time-ago from-time='{{ a.DateTimeStamp }}'></time-ago>
                                        </time>
                                    </div>
                                </li>
                            </ol>
                        </section>
                    </md-content>
                </md-tab>
                <md-tab label="SMS">
                    <md-content layout="column" style="background: #e5e5e5;">
                        <section class="module">
                            <ol class="discussion">
                                <li ng-repeat="a in truckerMessages" style="padding: 5px;">
                                    <div class="activity-stream">
                                        <p><strong>{{a.MobileNumber}}</strong></p>
                                        <p>{{a.Message}}</p>
                                        <time datetime="{{a.DateTimeStamp}}">
                                            <time-ago from-time='{{ a.DateTimeStamp }}'></time-ago>
                                        </time>
                                    </div>
                                </li>
                            </ol>
                        </section>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content> -->
    </md-sidenav>
</section>
